* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  header {
    background-color: #000000;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  p {
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  img {
    max-width: 10%;
    height: auto;
    }
  